.header {
    width: 100%;
    position: fixed;
    transition: 1s all;
    z-index: 100;
}

.header-top {
    background-color: $background-color_3;
}

.header__nav__item {
    display: flex;
    align-items: center;
}

.header__nav__link {
    color: $color_2;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 15px;

}

.header__nav__line {
    height: 3.1rem;
    margin: 0 2rem;
    border-right: 2px dashed black;
}

.burger {
    display: none;
    gap: 2px;
    flex-direction: column;
    align-items: end;

}
.burger__line {
    display: block;
    width: 26px;
    height: 2px;
    background-color: $background-color_2;
    transition: .5s all;
}

.burger--active .burger__line:nth-child(1) {
    transform: translateY(3px) rotate(-45deg);
}

.burger--active .burger__line:nth-child(2) {
    display: none;
}

.burger--active .burger__line:nth-child(3) {
    transform: translateY(3px) rotate(45deg);
}

.header-bottom {
    background-color: $background-color_4;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 10;
}
.logo {
    span {
        font-size: 1.3rem;
        font-weight: 100;
        color: $color_2;
    }
}
.phone__text {
    display: block;
    text-align: right;
    font-size: 1.2rem;
    font-weight: 300;
    color: $color_2;
}
