*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  color: red;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
}

.wrapper {
  overflow: hidden;
}

.small-title {
  padding: 0.3rem 1.5rem;
  background-color: #000;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
}

.small-title--white {
  background-color: #fff;
  color: #000;
}

.section-title {
  margin-top: 3.2rem;
  font-size: 3.8rem;
  font-weight: 700;
  color: #222222;
  text-transform: uppercase;
}

.section-text {
  font-size: 1.7rem;
  font-weight: 400;
  color: #222222;
}

.text--white {
  color: #fff;
}

/*Header Top
================*/
.header-top {
  background-color: #212121;
}

.header__nav__line {
  display: inline-block;
  height: 3.1rem;
  margin: 0 0.5rem;
  border-right: 2px dashed black;
}

.header__nav__link {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 15px;
}

.burger {
  display: none;
  gap: 2px;
  flex-direction: column;
  align-items: end;
}

.burger__line {
  display: inline-block;
  width: 26px;
  height: 2px;
  background-color: #fff;
}

/*Header Bottom
================*/
.header-bottom {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1000;
}

.logo span {
  font-size: 1.3rem;
  font-weight: 100;
  color: #fff;
}

.phone__text {
  display: block;
  text-align: right;
  font-size: 1.2rem;
  font-weight: 300;
  color: #fff;
}

.promo__text br {
  display: none;
}

.phone__number {
  display: block;
  text-align: right;
  font-size: 2.2rem;
  font-weight: 400;
  color: #fff;
}

.phone__number--btn {
  display: none;
}

.phone__btn {
  padding: 1.2rem 1rem;
  border: none;
  border-radius: 0.4rem;
  background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
  box-shadow: 0px -3px 0px 0px rgba(0, 0, 0, 0.12) inset;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 400;
  text-transform: uppercase;
}

/*Promo
================*/
.promo {
  padding: 151px 0 153px 0;
  background: #212121 url("../images/uber_bg.jpg") no-repeat;
  background-size: cover;
}

.promo__text {
  text-align: center;
  color: #fff;
}

.promo h1 {
  font-size: 6rem;
}

.promo h3 {
  font-size: 3.6rem;
  margin-bottom: 1.6rem;
}

.promo h3 br {
  display: none;
}

.promo p {
  font-size: 1.8rem;
  font-weight: 400;
}

.promo:first-child p {
  margin-bottom: 3rem;
}

.promo__btn {
  margin-top: 90px;
  padding: 1rem 2rem;
  border-radius: 4px;
  border: none;
  background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
  box-shadow: 0px -4px 0px 3px rgba(0, 0, 0, 0.12) inset;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
}

/*Causes
================*/
.causes {
  padding: 18px 0 64px 0;
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 116px;
  height: 116px;
  background-color: #1EACC7;
  border-radius: 100%;
}

.info {
  width: 100%;
  max-width: 371px;
  margin: 0 0 25px 25px;
}

.info__title {
  font-size: 1.7rem;
  color: #1EACC7;
}

.info__text {
  font-size: 1.5rem;
  color: #202020;
}

/*Mobil
================*/
.mobil {
  padding: 4.8rem 0 5rem;
  background: url("../images/mobil/mobile_bg.png") no-repeat;
  background-size: cover;
}

.mobil__item-bg {
  width: 100%;
  max-width: 320px;
  min-height: 280px;
  padding-top: 7rem;
  background-color: #212121;
  background-size: cover;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  position: relative;
}

.mobil__item-bg--1 {
  background: url("../images/mobil/1.jpg") no-repeat;
}

.mobil__item-bg--2 {
  background: url("../images/mobil/2.jpg") no-repeat;
}

.mobil__item-bg--3 {
  background: url("../images/mobil/3.jpg") no-repeat;
}

.mobil__item-bg--4 {
  background: url("../images/mobil/4.jpg") no-repeat;
}

.mobil__item-bg--5 {
  background: url("../images/mobil/5.jpg") no-repeat;
}

.mobil__item-bg--6 {
  background: url("../images/mobil/6.jpg") no-repeat;
}

.mobil__item__title {
  font-size: 2.4rem;
  font-weight: 400;
}

.plus {
  width: 2.9rem;
  height: 2.9rem;
  border: none;
  border-radius: 50%;
  background: #000 url("../images/mobil/plus.svg") no-repeat center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 3.5rem;
}

/*Chose
================*/
.black-bg {
  min-height: 502px;
  padding-top: 5.6rem;
  background-color: #070716;
  position: relative;
}

.black-bg p {
  display: none;
}

.auto {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translateX(-50%);
}

.img-bg {
  padding: 210px 0 138px 0;
  background: url("../images/auto-bg.png") no-repeat;
  background-size: cover;
}

.img-bg p {
  font-size: 1.7rem;
  font-weight: 300;
  text-align: center;
}

/*Condition
================*/
.condition {
  padding: 6.5rem 0 8.7rem;
}

.condition__list {
  padding-left: 5rem;
}

.condition__list__item {
  margin-bottom: 0.5rem;
}

.condition__list__item span {
  font-size: 1.7rem;
  font-weight: 300;
  color: #222222;
}

.condition__title {
  margin-bottom: 1rem;
  font-size: 2.2rem;
  font-weight: 400;
}

.condition__text {
  font-size: 1.7rem;
  font-weight: 300;
}

.condition--blue {
  color: #1EACC7;
  list-style: url("../images/check-blu.png");
}

.condition--red {
  color: #FF5656;
  list-style: url("../images/check_red.png");
}

/*World
================*/
.world {
  background-color: #080816;
}

.world-bg {
  text-align: center;
  padding: 4.6rem 0 2.6rem 0;
  background: #212121 url("../images/world_bg.jpg") no-repeat center;
  background-size: cover;
}

.world-btn {
  margin-top: 39rem;
  padding: 2.3rem 2rem;
  border: none;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 400;
  color: #1EACC7;
}

/*Footer
================*/
.footer {
  padding: 1.1rem 0;
}

.list-site {
  display: flex;
  gap: 0.6rem;
}

.circle-black {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.5rem;
  height: 3.5rem;
  background-color: #070716;
  border-radius: 100%;
}

.line-blue {
  display: inline-block;
  width: 30.1rem;
  height: 0.5rem;
  background-color: #1EACC7;
}

.footer-nav__top {
  display: flex;
  gap: 3rem;
  justify-content: center;
  margin: 4.1rem 0 1rem;
}

.footer-nav__top__item a {
  font-size: 1.5rem;
  font-weight: 300;
  color: #070716;
  text-transform: uppercase;
}

.footer-nav__bottom {
  display: flex;
  justify-content: center;
  gap: 3.5rem;
}

.footer-nav__bottom__item a {
  font-size: 1.1rem;
  font-weight: 300;
  color: #999999;
  text-transform: uppercase;
}

.footer-nav p {
  margin: 1rem 0;
  color: #1EACC7;
  font-size: 1.1rem;
  font-weight: 400;
}

@media (max-width: 992px) {
  .promo {
    padding: 151px 0 25px 0;
  }
  .promo h1 {
    font-size: 3rem;
  }
  .promo h3 {
    margin-top: 2rem;
    font-size: 2rem;
  }
  .promo h3 br {
    display: block;
  }
  .phone__text {
    font-size: 1rem;
  }
  .phone__number {
    font-size: 1rem;
  }
  .phone__btn {
    font-size: 1rem;
  }
  .promo__text br {
    display: block;
  }
  .causes-item {
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
  }
  .info {
    margin: 2.4rem 0 0 0;
  }
  .footer-site {
    margin: 1.5rem 0;
    order: 2;
  }
  .footer-nav {
    order: 1;
  }
  .footer-nav__top {
    margin: 1rem 0;
  }
  .footer-links {
    order: 3;
  }
}
@media (max-width: 768px) {
  .burger {
    display: flex;
  }
  .header-top ul {
    display: none;
  }
  .logo span {
    display: none;
  }
  .phone {
    display: none;
  }
  .phone__number--btn {
    display: block;
  }
  .promo__text p {
    display: none;
  }
  .phone__number {
    text-align: center;
  }
  .phone__btn {
    padding: 0;
  }
  .black-bg {
    min-height: auto;
  }
  .black-bg .section-title {
    display: none;
  }
  .black-bg .section-text {
    display: none;
  }
  .black-bg p {
    display: block;
    padding-bottom: 3.1rem;
    text-align: center;
    font-size: 17px;
    font-weight: 300;
    color: #fff;
  }
  .auto {
    margin-top: 3.4rem;
    position: initial;
    transform: translateX(0);
  }
  .img-bg {
    display: none;
  }
  .footer-nav__top {
    gap: 1rem;
  }
  .footer-nav__bottom {
    gap: 1rem;
    flex-wrap: wrap;
  }
}

/*# sourceMappingURL=style.css.map */
